.contacts {

  .contact-item {

    &.contact-two-lines {
      .contact-content {
        vertical-align: bottom;
        padding-bottom: 3px;
      }
    }

    .contact-icon {
      padding: 7px;
      border-right: 1px solid @light-color;
      border-bottom: 1px solid @light-color;
      opacity: 0.2;
      display: inline-block;
      margin-right: 10px;
      font-size: 2em;

      @media print {
        font-size: 1.5em;
      }
    }

    .contact-content {
      display: inline-block;

      .title,
      .description {
        white-space: nowrap;
      }

      .title {
        font-size: 1.4em;
        font-weight: 700;
        opacity: 0.9;

        a {
          color: @text-color;
        }

        @media print {
          font-size: 1.2em;
        }
      }

      .description {
        font-size: 1.2em;
        opacity: 0.6;

        a {
          color: @text-color;
        }

        @media print {
          font-size: 1.0em;
        }
      }
    }
  }


  & > li:last-child {
    .contact-icon {
      border-bottom: none;
    }
  }

}
