.skills {

    &:not(.in-viewport) {
      .bar {
        width: 0px;
      }
    }

    &.in-viewport {
      .bar {
        &.proficent {
          width: 33.333%;
        }

        &.advanced {
          width: 66.666%;
        }

        &.expert {
          width: 100%;
        }
      }
    }

    .skill {
      padding: 5px 0;

      & > * {
        vertical-align: middle;
        line-height: normal;
      }

      .bar {
        color: #fff;
        background-color: @main-color;
        padding: 4px;
        font-size: 0.9em;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width 0.8s ease-in-out;

        & > span {
          font-size: 1.2em;
          margin-right: 3px;
        }

        @media print {
          color: #fff !important;
          background-color: @main-color !important;
        }
      }
    }

    .legend {
      font-size: 1.1em;
      opacity: 0.6;

      & > span {
        display: inline-block;
        width: 100%;
        height: 6px;
        position: relative;

        & > span {
          display: inline-block;
          width: 33.333%;
          border: 2px solid @text-color;
          border-top: none;
          height: inherit;
        }

        &:before,
        &:after {
          content: " ";
          display: inline-block;
          width: 33.333%;
          height: inherit;
        }

        &:before {
          border-left: 2px solid @text-color;
          border-bottom: 2px solid @text-color;
        }

        &:after {
          border-right: 2px solid @text-color;
          border-bottom: 2px solid @text-color;
        }
      }

      ul {
        li {
          text-align: center;
          width: 33.333%;

          &:first-child {
            text-align: left;
            width: 16.667%;
          }

          &:last-child {
            text-align: right;
            width: 16.667%;
            padding-right: 0;
          }
        }
      }
    }

}


.tech-stack {
  .tech {
    background-color: @main-color;
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    padding: 3px 7px;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;

    & > * {
      vertical-align: middle;
      line-height: normal;
    }

    .icon {
      font-size: 1.5em;
    }

    @media print {
      opacity: 0.7;
      font-size: 1.1em;
      margin-right: 0;
      margin-bottom: 3px;

      &:not(:last-child):after {
        content: ', '
      }

      .icon {
        font-size: 1.3em;
      }
    }
  }
}

.languages {
  font-size: 1.3em;

  li {
    border-bottom: 1px solid lighten(@light-color, 10);
    padding: 8px 5px;

    & > * {
      vertical-align: middle;
      line-height: normal;
    }

    & > span:first-child {
      font-weight: 700;
    }

    .stars {
      float: right;

      .star {
        opacity: 0.3;
        margin-right: 5px;
        font-size: 1.2em;

        &.filled {
          color: @main-color;
          opacity: 1.0;
        }
      }
    }
  }

  @media print {
    font-size: 1.1em;

    li {
      .stars {
        .star {
          font-size: 1.0em;

          &.filled {
            color: @main-color !important;
          }
        }
      }
    }
  }
}

/*******************************************
SKILLS
*******************************************/
/*
.item-skills{
  height: 30px;
  background: #F0563D;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  font-weight: 600;
}
.skills-legend{
  margin-top: 20px;
  opacity: 0.8;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  width: 25%;
  display: inline-block;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left;
}
.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}
*/
